services:
  gateway:
    build:
      context: .
      dockerfile: docker/Dockerfile.gateway
    ports:
      - "9000:9000"
    volumes:
      - ${SCAN_DIR:?Set SCAN_DIR in .env}:/scan:ro
    environment:
      - SCANNER_SAST_HOST=sast
      - SCANNER_SAST_PORT=9001
      - SCANNER_SAST_ENABLED=true
      - SCANNER_DEPS_HOST=deps
      - SCANNER_DEPS_PORT=9002
      - SCANNER_DEPS_ENABLED=true
      - SCANNER_SECRETS_HOST=secrets
      - SCANNER_SECRETS_PORT=9003
      - SCANNER_SECRETS_ENABLED=true
      - SCANNER_IAC_HOST=iac
      - SCANNER_IAC_PORT=9004
      - SCANNER_IAC_ENABLED=true
      - SCANNER_CONTAINER_HOST=container-scanner
      - SCANNER_CONTAINER_PORT=9005
      - SCANNER_CONTAINER_ENABLED=true
      - SCANNER_DAST_HOST=dast
      - SCANNER_DAST_PORT=9006
      - SCANNER_DAST_ENABLED=true
      - SCANNER_LICENSE_HOST=license-scanner
      - SCANNER_LICENSE_PORT=9007
      - SCANNER_LICENSE_ENABLED=true
      - SCANNER_POSTURE_HOST=posture
      - SCANNER_POSTURE_PORT=9008
      - SCANNER_POSTURE_ENABLED=true
      - SCAN_MOUNT=/scan
      - SCAN_DIR=${SCAN_DIR}
      - SAFEWEAVE_LICENSE_KEY=${SAFEWEAVE_LICENSE_KEY}
      - SAFEWEAVE_LICENSE_URL=${SAFEWEAVE_LICENSE_URL:-https://license.safeweave.dev}
    depends_on:
      - sast
      - deps
      - secrets
      - iac
      - container-scanner
      - dast
      - license-scanner
      - posture

  sast:
    build: packages/scanners/sast
    volumes:
      - ${SCAN_DIR}:/scan:ro
    environment:
      - PORT=9001

  deps:
    build: packages/scanners/deps
    volumes:
      - ${SCAN_DIR}:/scan:ro
    environment:
      - PORT=9002

  secrets:
    build: packages/scanners/secrets
    volumes:
      - ${SCAN_DIR}:/scan:ro
    environment:
      - PORT=9003

  iac:
    build: packages/scanners/iac
    volumes:
      - ${SCAN_DIR}:/scan:ro
    environment:
      - PORT=9004

  container-scanner:
    build: packages/scanners/container
    volumes:
      - ${SCAN_DIR}:/scan:ro
    environment:
      - PORT=9005

  dast:
    build: packages/scanners/dast
    volumes:
      - ${SCAN_DIR}:/scan:ro
    environment:
      - PORT=9006

  license-scanner:
    build: packages/scanners/license
    volumes:
      - ${SCAN_DIR}:/scan:ro
    environment:
      - PORT=9007

  posture:
    build: packages/scanners/posture
    volumes:
      - ${SCAN_DIR}:/scan:ro
    environment:
      - PORT=9008
